#chat_profile{
    width: 36px;
    height: 36px;
    object-fit: cover;
    border: 1px solid #b4b4b4;
    border-radius: 100%;
}

#messages{
    display: flex;
    flex-direction: column;
}

.chat{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid #ececec;
}

.chat_header{
    display: flex;
    align-items: center;
    column-gap: 5px;
}