.message{
    width: 100%;
    display: flex;
}

.message_content{
    padding: 10px;
    border-radius: 15px;
    background-color:#e9e9e9;
}

.message_file{
    border-radius: 20px;
    max-width: 500px;
    max-height: 500px;
}

.own{
    justify-content: flex-end;
}

.own .message_content{
    color: #fff;
    background-color: rgb(23, 122, 252);
}