#navbar_profile{
    width: 36px;
    height: 36px;
    object-fit: cover;
    border: 1px solid #b4b4b4;
    border-radius: 100%;
}

.nav{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    background-color: #fff;
    border-right: 1px solid #e7e7e7;
    padding: 10px 7px;
}

.header{
    display: flex;
    align-items: center;
    column-gap: 100px;
}

.chats{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    overflow-y: auto;
}

